<h1>Messages Received</h1>
<p>List of messages received by clients</p>
<hr />
<p *ngIf="!messages"><em>Loading...</em></p>
<label *ngIf="messages">
  Auto Scroll
  <input type="checkbox" [(ngModel)]="activeScroll">
</label>
<label *ngIf="messages">
  Auto Refresh
  <input type="checkbox" [(ngModel)]="alive">
</label>
<label *ngIf="messages">
  Interval
  <input type="number" [(ngModel)]="interval">
</label>
<br />
<hr />
<div class="row" *ngIf="messages" style="border-bottom-width:2px;border-bottom-color:black;border-bottom:solid">
  <div class="col-md-4"><strong>Name</strong></div>
  <div class="col-md-4"><strong>Topic</strong></div>
  <div class="col-md-4"><strong>Time</strong></div>
</div>
<div #scrollMe class="row" style="overflow-y:scroll; height:80vh" *ngIf="messages">
  <div class="col-md-12">
    <div class="row" *ngFor="let message of messages">
      <div class="col-md-4">{{ message.clientId }}</div>
      <div class="col-md-4">{{ message.topic }}</div>
      <div class="col-md-4">{{ message.time }}</div>
      <div class="col-md-12" *ngIf="message.content" style="padding-top:15px;padding-bottom:15px"><strong>Content:</strong> {{ message.content }}</div>
    </div>
  </div>
</div>


