<h1>Messages Received</h1>
<p>List of messages received by clients</p>
<hr />
<p *ngIf="!messages"><em>Loading...</em></p>
<label *ngIf="messages">
  Auto Scroll
  <input type="checkbox" [(ngModel)]="activeScroll">
</label>
<label *ngIf="messages">
  Auto Refresh
  <input type="checkbox" [(ngModel)]="alive">
</label>
<label *ngIf="messages">
  Interval
  <input type="number" [(ngModel)]="interval">
</label>
<br />
<hr />
<table class='table table-hover table-condensed my-table' *ngIf="messages">
  <thead>
    <tr class="my-tr-head">
      <th style="width: 25%">Name</th>
      <th style="width: 50%">Topic</th>
      <th style="width: 20%">Time</th>
    </tr>
  </thead>
  <tbody #scrollMe class="my-tbody" >
    <tr *ngFor="let message of messages" class="my-tr">
      <td style="width: 20%">{{ message.serviceName }}</td>
      <td style="width: 50%">{{ message.topic }}</td>
      <td style="width: 20%">{{ message.time }}</td>
    </tr>
  </tbody>
</table>

