<h1>Service List</h1>
<p>A list of connected services</p>
<hr />
<p *ngIf="!services"><em>Loading...</em></p>
<label *ngIf="services">
  Auto Refresh
  <input type="checkbox" [(ngModel)]="alive">
</label>
<label *ngIf="services">
  Interval
  <input type="number" [(ngModel)]="interval">
</label>
<br />
<hr />
<table class='table' *ngIf="services">
  <thead>
    <tr>
      <th>Name</th>
      <th>End Point</th>
      <th>Time Connected</th>
      <th>Connected</th>
      <th>Protocol</th>
      <th>Last Message(s)</th>
      <th>Last NonKeepAlive(s)</th>
      <th>Pending Messages</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services">
      <td>{{ service.clientId }}</td>
      <td>{{ service.endpoint }}</td>
      <td>{{ service.timeConnected }}</td>
      <td>{{ service.isConnected }}</td>
      <td>{{ service.protocolVersion }}</td>
      <td>{{ service.timeSinceLastMessage }}</td>
      <td>{{ service.timeSinceLastNonKeepAlive }}</td>
      <td>{{ service.pendingMessages }}</td>
    </tr>
  </tbody>
</table>
